<form method="post" action="{{ path('app_student_delete', {'id': student.id}) }}" onsubmit="return confirm('¿Está seguro de eliminar el estudiante?');" class="form d-flex gap-2 justify-content-end">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student.id) }}">
    <button class="btn btn-danger">Eliminar estudiante</button>
</form>
