{% extends "base.html.twig" %}

{% block title %}Lucky number
{% endblock %}


{% block body %}
	<div class="container text-center">
		<div class="row align-content-center" style="height: 100vh;">
			<div class="col">
				<h1>The lucky number is:
					{{ number }}</h1>
			</div>
		</div>
	</div>

{% endblock %}
