{% extends 'base.html.twig' %}

{% block title %}New Document
{% endblock %}

{% block body %}
	{{ parent() }}
	<h1>Nuevo documento</h1>

	{{ include('document/_form.html.twig') }}

	<a href="{{ path('app_student_documents_show', {'id': student_id}) }}">volver a los documentos</a>
{% endblock %}
